.port {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0% 3% 6% 3%;
    gap: 20px;
}

.slideshow {
    display: flex;
    align-items: center;
}

.slider-wrapper {
	position: relative;
	max-width: 800px;
}

.slider {
	display: flex;
	aspect-ratio: 16 / 9;
	overflow-x: auto;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	border-radius: 0.4rem;
	-ms-overflow-style: none; /* Hide scrollbar IE and Edge */
	scrollbar-width: none; /* Hide scrollbar Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
    transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.5;
	transition: opacity ease 250ms;
}



.slider-nav a:hover {
	opacity: 1;
}